## Cement Strength

## Data Preparation

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv(r"concrete_data.csv")
df = pd.DataFrame(data)
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   float64
 1   Blast Furnace Slag  1030 non-null   float64
 2   Fly Ash             1030 non-null   float64
 3   Water               1030 non-null   float64
 4   Superplasticizer    1030 non-null   float64
 5   Coarse Aggregate    1030 non-null   float64
 6   Fine Aggregate      1030 non-null   float64
 7   Age                 1030 non-null   int64
 8   Strength            1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

## Model Building

In [6]:
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import mean_squared_error

In [14]:
X = df[df.columns[:-1]]
X = (X - X.mean())/X.std()
X

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069
...,...,...,...,...,...,...,...,...
1025,-0.045623,0.487998,0.564271,-0.092126,0.451190,-1.322363,-0.065861,-0.279597
1026,0.392628,-0.856472,0.959602,0.675872,0.702285,-1.993711,0.496651,-0.279597
1027,-1.269472,0.759210,0.850222,0.521336,-0.017520,-1.035561,0.080068,-0.279597
1028,-1.168042,1.307430,-0.846733,-0.279443,0.852942,0.214537,0.191074,-0.279597
1029,-0.193939,0.308349,0.376762,0.891286,0.400971,-1.394385,-0.150675,-0.279597

In [15]:
Y = df[df.columns[-1]]
Y

0       79.99
1       61.89
2       40.27
3       41.05
4       44.30
        ...
1025    44.28
1026    31.18
1027    23.70
1028    32.77
1029    32.40
Name: Strength, Length: 1030, dtype: float64

# D. Increase the number of hidden layers (5 marks)

## Repeat part B but use a neural network with the following instead:

## - Three hidden layers, each of 10 nodes and ReLU activation function

In [1]:
def Model3Hidden():
    model = Sequential(
        [
            Dense(10, activation='relu', input_shape=(8,)),
            Dense(10, activation='relu'),
            Dense(10, activation='relu'),
            Dense(1)
        ]
    )
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [8]:

def Train(model, X,Y, num_epochs, repeitition):
    # 4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.
    mse=[]
    for i in range(repeitition):
        # 1. Randomly split the data into a training and test sets by holding 30% of the data for testing.
        Xtrain, Xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.3, random_state=None, shuffle=True)

        #2. Train the model on the training data using 50 epochs
        model.fit(x=Xtrain, y=ytrain,validation_data=(Xtest, ytest), epochs=num_epochs, verbose=2)
        yhat = model.predict(x=Xtest)

        #3. Evaluate the model on the test data and compute the mean squared error 
        mse.append(mean_squared_error(ytest, yhat))
    return mse

In [ ]:
mse = Train(Model3Hidden(), X, Y, 50,50)